<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./images/gomazdoor.png" type="image/x-icon">
  <link rel="shortcut icon" href="./images/gomazdoor.png" type="image/x-icon">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>message</title>
</head>
<body>
    <h1> <%= message %></h1>
</body>
</html>