<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/gomazdoor.png" type="image/x-icon">
  <link rel="shortcut icon" href="./images/gomazdoor.png" type="image/x-icon">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="./stylesheet/pin1.css"> <!-- Include your stylesheet -->
</head>

<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>

    <main>
        <section>
            <h2>Introduction</h2>
            <p>Welcome to [ gomazdoor.com ] ("we", "our", or "us").</p>
            <p>This Privacy Policy describes how we collect, use, and disclose your personal information when you use our website.</p>
        </section>

        <section>
            <h2>Information We Collect</h2>
            <p>We collect information you provide directly to us, such as when you sign up for an account or contact us. This may include your name, email address, and other details.</p>
            <p>We may also automatically collect certain information when you visit our website, such as your IP address, browser type, and operating system.</p>
        </section>

        <section>
            <h2>How We Use Your Information</h2>
            <p>We use the information we collect to provide and improve our services, personalize your experience, and communicate with you. We do not sell or share your personal information with third parties for their marketing purposes.</p>
        </section>

        <section>
            <h2>Cookies</h2>
            <p>We use cookies to enhance your experience on our website. You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies.</p>
        </section>

        <section>
            <h2>Third-Party Links</h2>
            <p>Our website may contain links to third-party websites. We have no control over the content, privacy policies, or practices of these websites and are not responsible for their content or privacy policies.</p>
        </section>

        <section>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        </section>
    </main>

    <footer>
        <p>Last updated: [ 15 jan 2024]</p>
    </footer>
</body>

</html>
