body {
  background-color: rgb(5, 29, 48);
  font-weight: 350; 
  

  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.special {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(0, 255, 81);
  margin: 5px;
}

iframe {
border: 1px solid white;
border-radius: 10px;
display:flex;
margin-left: 5%;
margin-right:5%;
width: 90%;
height: 400px;

}

.left {
  color: white;
}

a {
  text-decoration: none;
}

.servicebutton{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  margin: 10px;
}


nav {
 
  display:flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(14, 36, 53);
  width: 100%;
  background-image: url('../images/navbar.jpg');
font-style:oblique;
  margin-bottom: 2px;
  height: 30px;
}

nav ul {
  display: flex;
  justify-content: center;

}

nav ul li {
  list-style-type: none;
  margin-right: 23px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-top: 20px;

}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 30px;
  height: 90vh;
  width: 200px;
  z-index: 999;

  background-image: url('../images/navbar.jpg');
  background-color: rgb(14, 36, 53);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  margin: 10px;
  font-size: large;
}

.sidebar a {
  width: 100%;
}

.signup {
  background-color: rgb(26, 255, 0);
  border: 1px solid rgb(86, 255, 1);
  border-radius: 5px;
  padding: 2px;
  color : rgb(0, 0, 0);
}

.login {
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 1, 1);
  border-radius: 5px;
  padding: 2px;
   color : rgb(255, 255, 255);
}

.logout {
  background-color: red;
  border: 1px solid rgb(255, 1, 1);
  border-radius: 5px;
  padding: 2px
}
nav a:hover {
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  color: rgb(0, 0, 0);
}

nav a:active {
  color: red;
  background-color: black;
}


.right {
  margin-top: 15px;
}

span.material-symbols-outlined {
  display: none
}

.d-block {
  width: 100%;
  height: 400px;
}

.type1 {
  margin: 20px;
}


span.span {
  color: red;
}

span.span1 {
  color: rgb(0, 255, 21);
}



.home {
  background-color: rgb(3, 36, 52);
  border: 1px solid rgb(5, 29, 48);
  border-radius: 20px;
  margin: 20px;

}

.home2 {
  position: relative;
}

.home1 {
  text-align: center;
  font: 1em sans-serif;

}

a.home1 {
  color: white;
}
.type-writer {

  margin: 20px;
  color: rgb(255, 255, 255);

}

button {
  text-decoration: none;

  margin: 20px;
}



.btn {
  size: 40px;
}


.container.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 font: 1em sans-serif;
 margin-top: 20px;
 border: 1px solid whitesmoke;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


.icon {
  width: 15%; /* Adjust the width as needed */
  margin: 20px;
  text-align: center;
  
 
}

.icon img {
  width: 100%;
  height: auto;
  max-width: 80px; /* Set a maximum width for the icons */
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
}

.icon p {
  font-family:'Courier New', Courier, monospace;
  margin-top: 8px;
  font-style:inherit;
}

.homecards {
  margin: 20px;
  display:flex;
 flex-wrap: wrap;

}

.card {
  margin: 20px;
  width: 30%;
  float: left;
  flex: 1 0 30%;
}
.card-body {

  background-color: white;
}

.card-title {
  color: rgb(17, 0, 255);
  font-weight: bolder;
}
.cardb {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.home2 {

  width: 100%;
}


.footer {
  background-color: #0d374b;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer1 {
  margin-bottom: 20px;
}

.footer1 h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer1 p {
  margin: 0;
}

.footer1 a {
  color: #fff;
  text-decoration: none;
}

.container {
  font-size: 14px;
  margin-top: 20px;
}

.container a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

hr {
  border-color: #615f5f;
}



@media only screen and (max-width: 450px) {

  /* Adjust styles for small screens */
  nav li {
    font-size: 8px;
  }

  main {
    padding: 0.5em;
  }

  

   

  .d-block {
    height: 200px;
  }

 

  .cardb {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .homecards{
    display: grid;
  }
  .card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px; /* Adding margin-bottom to give space between cards */
    font-size: large;
   
  }

  .icon p {
    font-family:'Courier New', Courier, monospace;
    margin-top: 8px;
    font-style:inherit;
    font-size:small;
  }

}


@media only screen and (max-width: 500px) {

  /* Adjust styles for small screens */


  .card {


    float: left;
    margin-right: auto;
    
    width: 45%;


  }

.cardb {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
  span.material-symbols-outlined {
    display: block;
    padding-bottom: 15px;
  }

  .svg {
    transform: rotate(45deg)
  }

  .navbar {
    display: none
  }

}








@media only screen and (max-width: 600px) {

  /* Adjust styles for small screens */
  main {
    padding: 0.5em;
  }

  nav {
    font-size: 13px;
    height: 25px;
  }

  .d-block {
    height: 300px;
  }
  .cardb {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

}




.profilecontent {
  float:left;
  margin: 10px;
  margin-right: 30px;


}

.prof {
   border : 1px solid white;
   border-radius: 10px;
   background-color: black;
   padding : 10px;
 
}
.pro {
  display: flow-root;
  margin-top: 30px;
 
 
}

@media only screen and ( max-width : 440px ) {
  .card {
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .cardb {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}


.servb{
  display: flex;
  width: 100%;
}

.servicebutton {
  width: 50%;
  background-color: rgb(0, 255, 0);
  border-radius: 5px;
border: 2px solid rgb(2, 51, 65);
padding-left: 2px;
padding-right: 2px;
}